<% @users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
      <td><%= user.name%></td>
      <td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
      <td><%= render 'relationships/following_number', user: user %>フォロー数：<%= link_to user.active_relationships.count, follows_user_path(user) %></td>
      <td><%= render 'relationships/follower_number', user: user %>フォロワー数：<%= link_to user.passive_relationships.count, followers_user_path(user) %></td>
      <td id="follow_<%= user.id %>"><% if user.id != current_user %>
            <%= render 'relationships/follow', user: user %>
          <% end %>
      </td>
    </tr>
    <% end %>