
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @book.user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: Book.new %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to (@book.user) do %>
						<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, @book %></td>
					<td><%= @book.body %></td>
					<!-- いいね機能 -->
					<td id="book_<%=@book.id %>"><%= render partial:'favorites/favorite', locals:{book: @book}%>
					</td>
					<!-- いいね機能 -->
					<% if @book.user_id == current_user.id %>
					<td>
						  <%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %>
						  </td>
					<td><%= link_to "Destroy",book_path(@book), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
					<td id="comment_number"><%= render 'books/comment_number', book: @book %></td>
				</tr>
			</table>

			<h3>Book comments</h3>
			<!-- book coment一覧 -->
			<Table class="table table-hover">
				<tbody id="book_comment_<%=@book.id%>">
					<%= render partial:'book_comments/comment', locals:{book: @book} %>
				</tbody>
			</Table>
	    <!-- book comment入力フォーム -->
	    <%= form_with url: book_book_comments_path(@book), model: [@book, @book_comment] do |f| %>
			  <%= f.text_area :comment, size: "90x5"%>
			  <%= f.submit "Post Comment", class: "btn btn-default" %>
			<% end %>
	</div>
</div>

